CompileFlags:
  Add:
    - "/IC:/Program Files/Microsoft Visual Studio/18/Community/VC/Tools/MSVC/14.51.36231/include"
    - "/IC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/ucrt"
    - "/IC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/shared"
    - "/IC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um"
Diagnostics:
  Suppress:
    - "pp_file_not_found"
    - "drv_unknown_argument"
